<style>
    .hz-container {
        display: flex;
        overflow-x: auto;
    }

    .hz-container::-webkit-scrollbar {
            display: none;
    }
</style>

<MudStack>
    
    <MudDivider Class="mt-2 mb-1" />
    <MudStack Row="true" Class="align-center">
        <MudPaper Class="border-dotted border-2 mud-border-primary pa-3" Elevation="0">
            <MudCheckBox Class="mr-4" @bind-Value=@_hideDropItems>Collapse Drop Zone</MudCheckBox>
        </MudPaper>
        @{
            var selectedItem = _selectedItem;
            if (selectedItem != null)
            {
                var dropItem = selectedItem.DropItem;
                <MudPaper Class="border-dotted border-2 mud-border-primary pa-3" Elevation="0">
                    <MudStack Row="true" Class="align-center mt-3 mb-3 ml-2 mr-2">
                        <MudText>@dropItem.AmountDisplay</MudText>
                        <MudDivider Vertical="true" FlexItem=true />
                        <MudText>@dropItem.DateDisplay</MudText>
                        <MudDivider Vertical="true" FlexItem=true />
                        <MudText>@dropItem.Description</MudText>
                    </MudStack>
                </MudPaper>

                <MudPaper Class="border-dotted border-2 mud-border-secondary" Elevation="0">
                    <MudStack Row="true" Class="align-center ml-1 mr-1">
                        @* Fixed Width Selector *@
                        <MudPaper Elevation="0" Width="275px">
                            <MudSelect T=string
                                       @bind-Value=@selectedItem.SelectionId
                                       Placeholder="Choose category"
                                       Variant=Variant.Outlined
                                       Margin=Margin.Normal
                                       Dense=true
                                       Typo=Typo.body2
                                       Clearable=true
                                       Validation=@((string? s) => s == null ? "Select category" : null)>
                                @foreach (var cat in Model.TopSuggestions)
                                {
                                    <MudSelectItem Value=@cat.Id>@cat.Display</MudSelectItem>
                                }
                                <MudSelectItem Disabled=true Value=@("")>
                                    <MudDivider Light=true />
                                </MudSelectItem>
                                @foreach (var cat in Model.AllSections)
                                {
                                    <MudSelectItem Value=@cat.Id>@cat.Display</MudSelectItem>
                                }
                            </MudSelect>
                        </MudPaper>

                        <MudPaper Elevation="0" Width="200px">
                            <MudTextField T=string @bind-Value=@selectedItem.MatchPattern Typo=Typo.body2 />
                        </MudPaper>
                        <MudPaper Elevation="0" Width="200px">
                            <MudTextField T=string @bind-Value=@selectedItem.MatchOverrideDescription Typo=Typo.body2 />
                        </MudPaper>
                        <MudDivider Vertical="true" FlexItem=true />
                        <MudCheckBox @bind-Value=@selectedItem.AddOnlyForTransaction />
                    </MudStack>
                </MudPaper>
            }
        }
    </MudStack>
    <MudDivider Class="mt-1 mb-2" />

    <MudDropContainer T="TransactionDropItem"
                      Items=@Model.Transactions
                      ItemsSelector="@((item, dropzoneId) => item.SectionDropZoneId == dropzoneId)"
                      ItemDropped="ItemUpdatedAsync"
                      Class="d-flex flex-wrap flex-grow-1">
        <ChildContent>
            <MudStack>
                @* UnMatched at top *@
                <MudList T=TransactionDropItem Class ="d-flex flex-column mud-height-full"
                         @bind-SelectedValue="@SelectedDropItem"
                         >
                    <MudListSubheader>Unmatched</MudListSubheader>
                    <MudPaper Class="border-dotted border-2 mud-border-secondary pa-1" Elevation="0">
                        <MudDropZone T="TransactionDropItem" Identifier="@_unMatchedDropZoneId" Class="flex-grow-1 border-dotted"
                                     Style="@("min-height:45px;max-height:200px; overflow-y: scroll")" />
                    </MudPaper>
                </MudList>

                @* Matched *@
                <MudGrid Spacing="0">
                    <MudItem xs=12>
                        <div class="hz-container">
                            @foreach (var summary in Model.Categories)
                            {
                                <MudStack Class="ma-1">
                                    <MudText><strong>@summary.Category.Name</strong></MudText>

                                    @foreach (var sec in summary.Sections)
                                    {
                                        <MudPaper Class="border-solid border-2 mud-border-primary pa-1" Elevation="0">
                                            <MudStack>
                                                <MudList T=TransactionDropItem Class="d-flex flex-column mud-height-full" Dense=true Gutters=false @bind-SelectedValue="@SelectedDropItem">
                                                    <MudListSubheader>@sec.Section.Name</MudListSubheader>
                                                    <MudPaper Class="border-dotted border-2 mud-border-secondary pa-1">
                                                        <MudDropZone T="TransactionDropItem" OnlyZone=@_hideDropItems Identifier="@sec.DropZoneId" Class="flex-grow-1" Style="@("min-height:38px")"/>
                                                    </MudPaper>
                                                </MudList>
                                                @if (_hideDropItems)
                                                {
                                                    var sectionItems = Model.GetTransactionsForSection(sec);
                                                    if (sectionItems.Any())
                                                    {
                                                        <MudExpansionPanels Dense=true Gutters=false Elevation=0 Class="ma-0">
                                                            <MudExpansionPanel Text=@($"[{sectionItems.Count}] Items") Expanded="false" Dense=true Gutters=false>
                                                                <MudStack>
                                                                    @foreach (var item in sectionItems)
                                                                    {
                                                                        <MudText Typo=Typo.caption Color=@(item.IsCredit ? Color.Success : Color.Inherit)>
                                                                            @item.AmountAndDescription
                                                                        </MudText>
                                                                    }
                                                                </MudStack>
                                                            </MudExpansionPanel>
                                                        </MudExpansionPanels>
                                                    }
                                                }
                                            </MudStack>
                                        </MudPaper>
                                    }
                                </MudStack>
                            }
                        </div>
                    </MudItem>
                </MudGrid>
            </MudStack>
        </ChildContent>
        <ItemRenderer>
            <MudListItem T=TransactionDropItem Value=@context>
                <MudText Typo=Typo.caption Color=@(context.IsCredit ? Color.Success : Color.Inherit)>
                    @context.AmountAndDescription
                </MudText>
            </MudListItem>
        </ItemRenderer>
    </MudDropContainer>
</MudStack>