@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<!-- Add icon library: https://fontawesome.com/v4/icons/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Button Style -->
<style>
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 2px 2x;
        font-size: 14px;
        cursor: pointer;
    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }
</style>

<PageTitle>Home</PageTitle>

<h1>Account Processor</h1>

<p />
<hr />

<p role="status"><strong>Last Action Result: </strong>
    <label style=@(LastActionResult?.IsSuccess == true ? "color:green" : "color:red")>
        @(LastActionResult?.IsSuccess == true ? "Success!" : LastActionResult?.Error)
    </label>
</p>

<hr />

<p style="border:thin">
    <table style="width:auto" cellpadding="5">
        <tbody>
            <!-- Coop Bank extract -->
            <tr>
                <td><label><strong>Coop Bank: Reverse File</strong></label></td>
                <td>
                    <button class="btn btn-primary">
                        <InputFile OnChange="@CoopBankReverseFile" accept=".csv" />
                    </button>
                </td>
                <td><label>Takes a raw CSV from Co-op Bank, reverses the transactions and downloads in standard format</label></td>
            </tr>

            <!-- Santander Bank extract -->
            <tr>
                <td><label><strong>Santander: Extract</strong></label></td>
                <td>
                    <button class="btn btn-primary">
                        <InputFile OnChange="@SantanderProcessFile" accept=".xlsx" />
                    </button>
                </td>
                <td><label>Takes a converted xlsx from Santander and downloads in standard format. (Must be saved to xlsx manually)</label></td>
            </tr>

            <!-- Categorise transaction files -->
            <tr class="border-top">
                <td><label><strong>Categorise: </strong></label></td>
                <td>
                    <button class="btn btn-primary">
                        <InputFile OnChange="@LoadTransactionsAndCategorise" accept=".xlsx" />
                    </button>
                </td>
                <td><label>Loads an xlsx with Date, Description & Amount columns and runs categorisation. </label></td>
            </tr>

            @if (TransactionsAreFullyLoaded()) //Only display export button if transactions have been loaded
            {
                <!-- Export categorised -->
                <tr class="border-top">
                    <td><label><strong>Export Categorised</strong></label></td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ExportCategorisedTransactions()">Export</button>
                    </td>
                    <td><label>Finally, exports the categorised transactions by category, for storage in LifeOrganisation file. </label></td>
                </tr>
            }
        </tbody>
    </table>
</p>

<hr />

<label>Month:</label>
<input type="month" value="@Model.Month.ToString("yyyy-MM")" @onchange="e => OnSetMonth((string?)e.Value)">
<button @onclick="() => SkipMonth(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<button @onclick="() => SkipMonth(+1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
<p/>

@if (TransactionsAreFullyLoaded())
{
    <hr />

    <label ><strong>Add New Section:</strong></label>
    <select style="margin-right: 5px" value="@NewSectionCategoryName" @onchange="e => SetNewSectionCategory((string?)e.Value)">
        <option value="@SelectorConstants.ChooseCategoryDefaultId" selected>Choose Category</option>
        @foreach (var cat in Model.Categories!.Value)
        {
            <option value="@cat.Name">@cat.Name</option>
        }
    </select>

    <input style="margin-right: 5px" placeholder="Section Name..." value="@NewSectionName" @onchange="e => SetNewSectionName((string?)e.Value)" />

    <button class="btn" @onclick="() => CreateNewSection()"><i class="fa fa-plus"></i></button>

    /* UnMatched Rows */
    @if (Model.TransactionResultViewModel!.UnMatchedRows.Any())
    {
        <hr />
        <label style="color:red; font-size:large"><strong>UnMatched</strong></label>

        <table style="width:auto" cellpadding="5">
            <thead>
                <tr class="border-bottom-thick">
                    <th>Date</th>
                    <th>Transaction</th>
                    <th class="border-right">Amount (£)</th>
                    <th>Category</th>
                    <th>Match On</th>
                    <th>Description</th>
                    <th>Once</th>
                    <th>Match</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.TransactionResultViewModel.UnMatchedRows)
                {
                    <tr class="border-bottom">
                        <td class="fitwidth">@row.Transaction.Date.ToString("dd/MM")</td>
                        <td class="fitwidth">@row.Transaction.Description</td>
                        <td class="border-right" style=@row.StyleColor>@row.DisplayAmount</td>
                        
                        <td>
                            <select value="@row.SelectionId" @onchange="e => row.SelectionId = (string?)e.Value">
                                <option value="@SelectorConstants.ChooseSectionDefaultId" selected>Choose Section</option>
                                @foreach (var cat in Model.AllSections!.Value)
                                {
                                    <option value="@cat.Id">@cat.Display</option>
                                }
                            </select>
                        </td>

                        <td>
                            <input placeholder="Match on" value="@row.MatchOn" @onchange="e => row.MatchOn = (string?)e.Value" />
                        </td>
                        <td>
                            <input placeholder="Override Description" value="@row.OverrideDescription" @onchange="e => row.OverrideDescription = (string?)e.Value" />
                        </td>
                        <td>
                            <input type="checkbox" @onchange="e => row.AddOnlyForTransaction = (bool)e.Value">
                        </td>
                        <td>
                            <button class="btn" @onclick="() => AddNewMatchForRow(row)"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    /* Matched Rows */
    if (Model.TransactionResultViewModel!.MatchedRows.Any())
    {
        <hr />
        <label style="color:green; font-size:large"><strong>Matched</strong></label>

        <table style="width:auto" cellpadding="5">
            <thead>
                <tr class="border-bottom-thick">
                    <th class="border-right">Category: Section</th>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Export As</th>
                    <th class="border-right">Amount (£)</th>
                    <th>Match Pattern</th>
                    <th>Clear</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.TransactionResultViewModel.MatchedRows)
                {
                    var rowClassBottom = row.IsLastRowForCategory ? "border-bottom-thick" : "border-bottom";
                    <tr class=@rowClassBottom>
                        <td class="fitwidth border-right">@row.CategorySectionDisplay</td>
                        <td class="fitwidth">@row.Transaction.Date.ToString("dd/MM")</td>
                        <td class="fitwidth">@row.Transaction.Description</td>
                        <td class="fitwidth">@row.MatchDescription</td>
                        <td class="border-right" style=@row.StyleColor>@row.DisplayAmount</td>
                        <td class="fitwidth" style="color:darkslategray">@row.MatchPattern</td>
                        <td>
                            <button class="btn" @onclick="() => ClearMatch(row)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}