@using System.IO
@using System.Collections.Immutable;
@using AccountProcessor.Components.Services;
@page "/"
@rendermode InteractiveServer
@inject Services.IExcelFileRunner ExcelFileRunner;
@inject Services.ITransactionCategoriser Categoriser;
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<h1>Account Processor</h1>

<p/>
<hr/>

<button class="btn btn-primary">
    <strong>Reverse File: </strong>
    <InputFile OnChange="@ReverseFile" accept=".csv" />
</button>
<p role="status"><strong>Result</strong>: @reverseFileResult</p>

<p/>

<hr/>

<p/>

<button class="btn btn-primary">
    <strong>Categorise: </strong>
    <InputFile OnChange="@Categorise" accept=".xlsx" />
</button>

@if (LoadedTansactions.HasValue)
{
    <table class="table" style="width:auto">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount (£)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tr in LoadedTansactions)
            {
                var displayAmount = tr.Amount < 0 ? $"-£{-tr.Amount}" : $"£{tr.Amount}";
                var styleColor = tr.Amount < 0 ? "color:red" : "color:black";
                <tr>
                    <td class="fitwidth">@tr.Date.ToShortDateString()</td>
                    <td class="fitwidth">@tr.Description</td>
                    <td style="@styleColor">@displayAmount</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

<input placeholder="Something todo" />
<button @onclick="AddItem">Add Item</button>

<select id="categoryID" value="Initial" @onchange="x => OnChangeItem(x)">
    <option value="0" selected>Choose Section</option>
    @if(AllSections.HasValue)
    {
        foreach (var cat in AllSections)
        {
            <option value="@cat.id">@cat.display</option>
        }
    }
</select>

@code
{
    private ImmutableArray<Transaction>? LoadedTansactions;

    private ImmutableArray<(SectionHeader header, string display, string id)>? AllSections;

    protected override async Task OnInitializedAsync()
    {
        var allData = Categoriser.GetSelectorData();
        AllSections = allData.Sections.Select(s => (
            header: s,
            display: $"{s.Parent.Name}: {s.Name}",
            id: Guid.NewGuid().ToString()))
            .ToImmutableArray();
    }

    private async Task OnChangeItem(ChangeEventArgs e)
    {
        var found = AllSections?.SingleOrDefault(x => x.id.Equals(e.Value));
        await Task.Delay(10);
    }

    private void AddItem()
    {

    }

    private string? reverseFileResult;

    private async Task ReverseFile(InputFileChangeEventArgs e)
    {
        reverseFileResult = "Running...";

        using var inputStream = await _CopyToMemoryStreamAsync(e);
        var result = await ExcelFileRunner.ReverseCsvTransactions(inputStream);

        if (result.IsSuccess)
        {
            reverseFileResult = "Success!";

            await JS.InvokeAsync<object>(
                "jsSaveAsFile",
                $"{e.File.Name}_{DateTime.Now.ToFileTime()}.xlsx",
                Convert.ToBase64String(result.Result!));
        }
        else
        {
            reverseFileResult = $"Failed: {result.Error}";
        }
    }

    private async Task Categorise(InputFileChangeEventArgs e)
    {
        LoadedTansactions = null;

        using var inputStream = await _CopyToMemoryStreamAsync(e);
        var result = await ExcelFileRunner.LoadTransactions(inputStream);
        if (result.IsSuccess)
        {
            LoadedTansactions = result.Result;
        }
    }

    /// <summary>
    ///  Must copy to memory stream as otherwise can raise:
    ///  "System.NotSupportedException: Synchronous reads are not supported."
    ///  when passing to service
    ///  </summary>
    private async Task<MemoryStream> _CopyToMemoryStreamAsync(InputFileChangeEventArgs e)
    {
        var inputStream = new MemoryStream();
        var stream = e.File.OpenReadStream();
        await stream.CopyToAsync(inputStream);
        inputStream.Position = 0;
        return inputStream;
    }
}