@page "/modelEditor"
@rendermode InteractiveServer

<!-- Add icon library: https://fontawesome.com/v4/icons/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Model Editor</PageTitle>

<h1>Model Editor</h1>

<p />
<hr />

@if (Items.HasValue)
{
    <table style="width:auto" cellpadding="5">
        <thead>
            <tr class="border-bottom-thick">
                <th>Header</th>
                <th>Section</th>
                <th>Month</th>
                <th>Pattern</th>
                <th>Description</th>
                <th>Once</th>
                <th class="border-left">Clear</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Items.Value)
            {
                <tr>
                    <td class="fitwidth">@row.HeaderName</td>
                    <td class="fitwidth">@row.SectionName</td>
                    <td class="fitwidth">@row.SectionMonth?.ToString("yyyy/MM")</td>
                    <td class="fitwidth">@row.Pattern</td>
                    <td class="fitwidth">@row.OverrideDescription</td>
                    <td class="fitwidth" align="center">
                        <input type="checkbox" checked="@row.MatchOnce" disabled> @* @onchange="e => ChangeMatchOnce(row, (bool)e.Value) *@
                    </td>
                    <td class="border-left">
                        <button class="btn" @onclick="() => ClearMatch(row)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}