@page "/"
@using BibleApp.Core

<PageTitle>Home</PageTitle>

@if (_isLoading)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudGrid>
        @* Left hand panel *@
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-1" Style="height: 100%; overflow-y: auto; max-height: 88vh;">
                <MudExpansionPanels>
                    @foreach (var book in _books)
                    {
                        <MudExpansionPanel Text=@book.BookName Style="max-width:40rem"                                           >
                            <MudStack>
                                @foreach (var chapterGroup in book.Chapters.GroupIntoBatches(batchSizeLimit: 10))
                                {
                                    <MudChipSet T=ChapterStructure>
                                        @foreach (var chapter in chapterGroup)
                                        {
                                            <MudChip T=ChapterStructure Value=@chapter Text="@(chapter.ChapterNumber.ToString())"
                                                     Style="width: 3rem; min-width: 3rem"
                                                     SelectedChanged=@(isSelected => _SelectChapterAsync(book, chapter, isSelected)) />
                                        }
                                    </MudChipSet>
                                }
                            </MudStack>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>

        @* Right hand child panel *@
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-1" Style="height: 100%; overflow-y: auto; max-height: 88vh;">
                @if (_selectedBook != null)
                {
                    <MudText Typo="Typo.h6">@_selectedBook.Book.BookName</MudText>

                    foreach (var chapter in _selectedBook.Chapters)
                    {
                        <div @key="@chapter.InstanceKey">
                            <MudDivider Class="mt-3 mb-3"/>

                            <div @ref=@chapter.Ref>
                                <MudText Typo="Typo.h6">Chapter @chapter.Chapter.Id.ChapterNumber</MudText>
                            </div>
                        
                            <div>
                                @foreach (var verse in chapter.Chapter.Verses)
                                {
                                    <sup style="color: lightgrey;">@verse.Id.VerseNumber</sup>
                                    <MudText Inline="true" Typo="Typo.body1"> </MudText>
                                    <MudText Inline="true" Typo="Typo.body1">@verse.Text</MudText>
                                }    
                            </div>
                        </div>
                    }
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
}
